
{% load widget_tweaks %}

{% block title %}Nova senha{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Definir nova senha</h2>
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_new_password1" class="form-label">Nova senha</label>
                {{ form.new_password1|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_new_password2" class="form-label">Confirme a nova senha</label>
                {{ form.new_password2|add_class:"form-control" }}
            </div>
            <button type="submit" class="btn btn-success">Salvar nova senha</button>
        </form>
    {% else %}
        <p>O link para redefinição é inválido ou já foi utilizado.</p>
    {% endif %}
</div>
{% endblock %}
