{% load static %}
<footer class="footer">
  <div class="top-wave"></div>
  <div class="content">
    <div class="column-left">
      <div class="footer-logo">
        <img src="{% static 'public/images/futuras-cientistas-logo-horizontal-white.png' %}" alt="Futuras Cientistas" />
      </div>

      <p class="description">
        Iniciativa nacional que promove o protagonismo de meninas no ensino médio por meio da ciência, da pesquisa e da equidade de gênero.<br />
        Juntas, construindo um futuro mais diverso, inclusivo e transformador.
      </p>
      <p class="copyright">
        © 2025 Programa Futuras Cientistas – Todos os direitos reservados.
      </p>
    </div>
    <div class="column-group">
      <div class="column">
        <span class="col-title">Programa</span>
        <a href="#" class="link">Contato da Organização</a>
        <a href="#" class="link">FAQ</a>
        <a href="#" class="link">Requisitos para Participar</a>
      </div>
      <div class="column">
        <span class="col-title">Informações</span>
        <a href="#" class="link">Política de Privacidade</a>
        <a href="#" class="link">Termos de Uso</a>
        <a href="#" class="link">Acessibilidade Digital</a>
      </div>
    </div>
  </div>
</footer>
