{% load static %}
<header class="header fixed top-0 left-0 w-full z-50">
  <!-- Logo -->
  <div class="logo">
    <div class="headerfc__logo">
      <img src="{% static 'public/images/futuras-cientistas-logo-horizontal-white.png' %}" alt="Futuras Cientistas" />
    </div>
  </div>

  <div class="right-section flex flex-col sm:flex-row items-center gap-2">
    <!-- Social Media Icons -->
    <div class="social-icons flex gap-2">
      <a href="#" class="social-icon">
        {% include 'components/icons/message-circle.svg' %}
      </a>
      <a href="#" class="social-icon">
        {% include 'components/icons/instagram.svg' %}
      </a>
      <a href="#" class="social-icon">
        {% include 'components/icons/facebook.svg' %}
      </a>
      <a href="#" class="social-icon">
        {% include 'components/icons/youtube.svg' %}
      </a>
    </div>
    
    <!-- Action Buttons -->
    <div class="headerfc__actions flex flex-col sm:flex-row gap-2 mt-2 sm:mt-0">
      <a href="/login" class="headerfc__btn">ENTRAR</a>
      <a href="/cadastro" class="headerfc__btn headerfc__btn_secondary">INSCREVA-SE</a>
    </div>
  </div>
</header>
