{% load static %}
<section class="section-program">
  <h2 class="program-title">Módulos do Programa</h2>
  <p class="program-subtitle">
    Conheça mais dos módulos e oportunidades que o programa pode oferecer
  </p>

  <div class="modules">
    <div class="module-card">
      <h3 class="module-title">Imersão Científica</h3>
      <span class="module-subtitle">Módulo 1</span>
      <p class="module-text">
        Se você é aluna da 2ª série do EM ou professora da rede pública estadual, participe da Imersão Científica!
        Durante janeiro, você vivencia a rotina de pesquisa em universidades e empresas. São 470 vagas com atividades
        presenciais ou remotas, em projetos incríveis na área STEM.
      </p>
    </div>

    <div class="module-card">
      <h3 class="module-title">Banca de Estudos</h3>
      <span class="module-subtitle">Módulo 2</span>
      <p class="module-text">
        Aluna da 3ª série do Ensino Médio da rede pública estadual? Aqui você se prepara pro ENEM com aulas online
        de exatas e redação, além de apoio psicológico. São 100 vagas para um curso intensivo que acontece entre
        setembro e outubro. Tudo de forma totalmente gratuita!
      </p>
    </div>

    <div class="module-card">
      <h3 class="module-title">Mentorias</h3>
      <span class="module-subtitle">Módulo 3</span>
      <p class="module-text">
        Já participou do programa e entrou na universidade? Agora é hora de seguir conectada! O módulo de Mentorias,
        em parceria com a Alumna, oferece apoio com profissionais experientes e vagas exclusivas. Uma rede
        colaborativa feita pra você seguir crescendo no mundo STEM.
      </p>
    </div>
  </div>
  <div class="opportunities flex flex-col items-center text-center">
    <div class="icon-wrapper flex items-center justify-center">
      {% include 'components/icons/book-open.svg' %}
    </div>
    <div>
      <h3 class="opp-title">Estágios e Oportunidades</h3>
      <p class="opp-text">
        Ao ingressar na universidade, buscamos conectar nossas participantes a estágios, bolsas de iniciação ou
        pesquisa nas áreas STEM. Essa etapa amplia a vivência profissional e científica, fortalecendo o vínculo com
        o mercado e a continuidade na carreira acadêmica.
      </p>
    </div>
  </div>

</section>
